@media(max-width: 768px) {
    body {
        background-position: center;
        padding: 0 15px;
    }

    .slider {
        gap: 10px;
    }
}

@media(max-width: 496px) {
    .lista-personagens {
        width: 250px;
    } 

    .cartao{
        position: absolute;
        left: 0;
        top: 0;
    }

    .imagem-carta{
        width: 220px;
    }

    .slider {
        position: relative;
    }

    .btn-seta {
        position: absolute;
        bottom: -12%;
    }

    #btn-avancar {
        right: 10%;
    }

    #btn-voltar {
        left: 10%;
    }
}

@media(max-width: 375px) {
    body {
        padding-top: 10px;
        gap: 10px;
        padding: 20px 0;
    }

    .cabecalho {
        font-size: 1.2rem;
    }
}

@media(max-height: 496px) {
    body {
        background-position: center center;
        background-attachment: fixed;
    }
}