body {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-image: url(../images/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Yugioh", serif;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho .titulo {
    color: #f1ecff
}

.cartao {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    padding: 12px;
    opacity: 0;
}

.cartao.selecionado {
    z-index: 1;
    opacity: 1;
}

.lista-personagens {
    width: 300px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    padding: 12px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.cartao .nome {
    border: 2px solid #a67c52;
    border-radius: 4px;
    padding: 5px;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.2;
}

.cartao .estrela {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../images/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cartao .nivel-carta {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}

.cartao .imagem-carta {
    max-width: 260px;
    align-self: center;
}

.cartao .informacoes {
    max-width: 300px;
    border: 2px solid #a67c52;
    border-radius: 5px;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    text-align: left;
    line-height: 1.5;
    color: #000000;
}

.cartao .informacoes .informacoes-ataque {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

.cartao .informacoes .informacoes-ataque span {
    font-size: 1.3rem
}

.cartao .informacoes .descricao {
    max-height: 95px;
    overflow-y: scroll;
    border-bottom: 1px solid #000000;
    padding: 10px;
    font-size: 1.3rem;
}

.fundo-1 {
    background: url(../images/fundo-1.jpg) no-repeat;
}
.fundo-2 {
    background: url(../images/fundo-2.jpg) no-repeat;
}
.fundo-3 {
    background: url(../images/fundo-3.jpg) no-repeat;
}
.fundo-4 {
    background: url(../images/fundo-4.jpg) no-repeat;
}
.fundo-5 {
    background: url(../images/fundo-5.jpg) no-repeat;
}
.fundo-6 {
    background: url(../images/fundo-6.jpg) no-repeat;
}
.fundo-7 {
    background: url(../images/fundo-7.jpg) no-repeat;
}

.btn-seta {
    background-color: white;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-seta:hover {
    background-color: #8351fe;
}
.btn-seta:active {
    scale: 0.98;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

body::-webkit-scrollbar-track {
    background-color: #c08057;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c08057;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c08057;
}

.carta-virada {
    display: none;
}

.carta-virada.mostrar-fundo-carta {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: url(../images/fundo-carta.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.cartao.virar {
    transform: rotateZ(90deg);
    transition: transform .3s ease-in-out;
}

.esconder {
    display: none;
}